:root {
  --value: 40%;
  --back-color: #F3F3F3;
}

body {
  background-color: var(--back-color);
}


.neumorphic-btn {
  font-size: 18px;
  cursor: pointer;  
  margin: 0px 20px 20px 0px;
  text-align:center;  
  padding: 10px 40px;
  border-radius: 50px;
  color: #6D7587;
  background-color: var(--back-color);
  box-shadow: 7px 7px 8px rgba(55, 84, 170, .15),
              -7px -7px 10px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow 0.8s ease;
}

  
.neumorphic-btn:hover {
  color: black;
  box-shadow: inset 7px 7px 8px rgba(55, 84, 170, .15),
              inset -7px -7px 10px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0) !important;
}
    
.neumorphic-btn:active {
  color: lightgreen;
}

.neumorphic-btn.active {
  color: #52D10E;
}

    
.neumorphic-card {
  display: block;    
  background-color: var(--back-color) !important;
  padding: 40px;  
  box-shadow: inset 7px 7px 8px rgba(55, 84, 170, .15),
              inset -7px -7px 10px rgba(255, 255, 255, 1),
              inset 0px 0px 4px rgba(255, 255, 255, 0) !important;
  border-radius: 8px;
}

        

    
    
    
    
    
.tooltip:after{
 background:rgba(0,0,0,1);
 color:#fff;
 content:attr(descr);
 text-transform: lowercase; 
 border-radius: 10px;   
 display:block;
 margin-top:15px;
 padding: 25px;   
 position:absolute;
 opacity:0;
 -webkit-transition:opacity 1s ease 0.2s;
}

    
.tooltip:hover:after{
 opacity:1;
 -webkit-transition:opacity 1s ease 100ms;
}    

































@media only screen and (min-width: 76.25em) { .md-main__inner { max-width: 100%; } .md-sidebar--primary { left: 0; } .md-sidebar--secondary { right: 0; margin-left: 0; -webkit-transform: none; transform: none; } } 
    
    
    
#filters-zone {
    padding: 25px 25px 10px 25px;
    width: 100%; 
}    
    
    
.md-typeset h1, .md-content__button {
display: none;
}
    
:root > * {
  --md-default-bg-color: rgba(2, 2, 2, 0) !important;
  --md-primary-fg-color: #2B8DCE;  
}    

.md-main__inner.md-grid {
    margin:0;
    padding:0;
}
    
   
.md-footer {
        display: none;   
}   
    
.md-header {
        display: none;   
}    
        
.md-tabs {
        display:none;
}    

#param-detail {
    background:white;
}

    

/*----------------------------
    Family-filtres
-----------------------------*/

    
.btn-family:hover {
    color: green;    
}      
.btn-family.active {
    color: lightgreen;    
} 
    
    
#colorNav > ul{
	width: 100%; /* Increase when adding more menu items */
	margin:auto;
    display: inline-block;
}

#colorNav > ul > li{ /* will style only the top level li */
	list-style: none;
	display: inline-block;
    background:rgba(255, 255, 255, 0);
	margin: 10px;
	position:absoltue;
}
    

#colorNav > ul > li > button{
	font-size:24px;
	padding: 25px;
    width: 75px;
    height: 75px;
    text-align:center;
}

    
    
    
#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:500px;
	top:70px;
	font:bold 12px 'Open Sans Condensed', sans-serif;
	
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;
	
	-webkit-transition:max-height 0.4s linear;
	transition:max-height 0.1s linear;
}


#colorNav li ul li a{
	padding:12px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
}

#colorNav li ul li:hover{
	background-color:#444;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top:25px;
}


#colorNav li ul li:last-child{
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}

/* This will trigger the CSS */
/* transition animation on hover */

#colorNav li:hover ul{
	max-height:400px; /* Increase when adding more dropdown items */
}

    
/*----------------------------
    Grid Card elements
-----------------------------*/

.grid-container { 
    display: grid; 
    grid-template-columns: 24% 24% 24% 24%; 
    gap: 25px; 
    background-color: rgba(255, 255, 255, 0); 
    padding: 10px; 
} 
    
    
    
.container {
    border: none;
    position: relative;
}
    
.container:hover .overlay {
  height: 100%;
  padding: 0px 10px 0px 10px;  
}
     

.overlay {
  color: black;
  font-size: 18px;  
  position: absolute;
  border-radius: 0px; 
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;  
}


.img_grid {
  border: none;  
  height: 150px; 
  display: flex;
  justify-content: center;
  align-items: center;  
  overflow: hidden;  
}    
 

.img_toto {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
} 

    

.column_catalog p {
    color:grey;
    font-size:20px;
    margin-top: 10px;
    font-weigth: bold;
}
    
.column_catalog {
    border: none;
    border-radius: 0px;
    background: rgba(255, 255, 255, 1);
    padding: 0px 0px 0px 0px;
    outline: 1px solid #CCC;
    height:200px;
    overflow:auto;
    overflow-y: hidden;
    overflow-x: hidden;
    margin:0;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
} 
   
    
.product.tumbnail {
    border: none;
    margin:0px;
    padding: 0px 15px 0px 15px;
}      
 
    
    
    
/*=== Petit ecran ===*/
@media only screen and (max-width: 1200px) {
    
	
	.grid-container { 
    display: grid; 
    grid-template-columns: 45% 45%; 
    gap: 15px; 
    background-color: rgba(255, 255, 255, 0); 
    padding: 10px; 
    }
}  
    
/*=== Mobile ===*/
@media only screen and (max-width: 800px) {
	
	.grid-container { 
    display: grid; 
    grid-template-columns: 95%; 
    gap: 15px; 
    background-color: rgba(255, 255, 255, 0); 
    padding: 10px; 
    }
}     
    
    
.grid-container > div { 
    text-align: left;
    font-size: 20px; 
}

    
.grid-container > a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

    
/* Style grid filtering search */
.filterDiv {
  display: none;
}

.show {
  display: block;
}
    
.hide {
  display: none;
}
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
/*----------------------------
    Type filter
-----------------------------*/    
    
.grid-filter { 
    display: grid; 
    grid-template-columns: 50% 50%; 
    gap: 15px; 
    background-color: rgba(255, 255, 255, 0); 
    padding: 10px; 
} 



.btn-all:hover {
  color: white;  
  background-color: #17C914;
    box-shadow: inset 7px 7px 8px rgba(55, 84, 170, 0),
              inset -7px -7px 10px rgba(255, 255, 255, 0),
              inset 0px 0px 4px rgba(255, 255, 255, 0) !important;
}

    
.btn-add  {
  border: none;
  outline: none;
  background-color: #deeaff;
  color: black;  
  cursor: pointer;
  padding: 12px 16px; 
  margin-right: 5px;  
  margin-top: 5px; 
}    


.btn-add:hover {
  background-color: #498cfc;
  color: white;
}
    
    


.btn-reset:hover {
  color: white;  
  background-color: #DD160A;
    box-shadow: inset 7px 7px 8px rgba(55, 84, 170, 0),
              inset -7px -7px 10px rgba(255, 255, 255, 0),
              inset 0px 0px 4px rgba(255, 255, 255, 0) !important;
}

